// the Inter font by Rasmus Andersson
@import url('https://rsms.me/inter/inter.css');
// all referenced variables
@import "./Variables.scss";
// all styles for topics
@import "./Topics.scss";
// all styles for surveys
@import "./Surveys.scss";
// all styles for responses
@import "./Responses.scss";

* {
  // border: 1px solid red;
}

// ---------GLOBAL STYLES---------
body {
  font-family: "Inter";
}

h2 {
  font-size: $title-size;
  color: $main-color;
}

h3 {
  font-size: $header-size;
  color: $main-color;
}

p {
  line-height: 180%;
  font-weight: $medium-weight;
}

a {
  text-decoration: none;
  color: $main-color;

  &:hover {
    text-decoration: none;
    color: $sub-color;
  }
}

.divider span {
  font-size: $header-size;
  color: $main-color;
}

.ant-form-item-label label {
  color: $main-color;
}

// --------APP STYLES--------
.app {
  width: 80%;
  margin: 0 auto;
}

.dashboard {
  height: 100vh;
}

// NAV STYLES
nav {
  width: 79%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  position: absolute;
  z-index: 0;
  
  .logo {
    font-size: $title-size;
    font-weight: bold;
  }
  
  .nav-actions {
    font-size: $header-size;
    font-weight: 600;
    display: flex;
    
    a {
      margin-left: 2rem;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.hidden-nav {
  display: none;
}

// --------WELCOME STYLES--------
// HEADER STYLES
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  z-index: 1;

  .header-intro {
    width: 80%;
    font-size: $header-size;
    font-weight: $medium-weight;
    line-height: 180%;
  }

  // button {
  //   background: $gradient;
  //   border:
  // }

  img {
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
  }

  @keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
  }
}

// FEATURES STYLES
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.features-title {
  width: 60%;
  text-align: center;
  line-height: 180%;
  padding-bottom: 4rem;
}

.feature-columns {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 450px;

  .feature-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: $default-size;
      width: 60%;
      text-align: center;
      line-height: 180%;
      font-weight: $medium-weight;;
    }
  }

  img {
    width: 100px;
  }
}

// TAB PANEL STYLES
.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  height: 100vh;
}

.tab-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem;

  .tab-description {
    width: 30%;
    height: 100%;
  }

  img {
    width: 30%;
  }
}

// USER ONBOARDING STYLES
.user-container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  img {
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
    width: 30%;
  }

  @keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
  }
}

.user-form {
  width: 30%;

  input, button {
    margin-top: 1rem;
  }

  p {
    margin-top: 1rem;
  }
}

.waves-l {
  position: fixed;
  z-index: -1;
  top: 500px;
  left: -680px;
  transform: rotate(5deg);
}

.waves-r {
  position: fixed;
  z-index: -1;
  top: -335px;
  right: -760px;
  transform: rotate(10deg);
}
