@import "./Variables.scss";

// CONTEXT CONTENT STYLES
.context-container {
  width: 100%;

  .context {
    margin-top: 2rem;

    h4 {
      font-size: $default-size;
      margin: 0 auto;
    }

    h3 {
      font-size: $header-size;
      font-weight: bold;
    }
  }

  .context-question {
    margin-bottom: 2rem;

    h4 {
      font-size: $default-size;
    }

    p {
      background: #efe5fc;
      border: 1px solid #6f00ff;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      text-align: left;
    }
  }
}

// RESPONSE LIST STYLES
.responses-container {
  margin-top: 2rem;
  padding: 2rem 0 0 10rem;
  width: 80%;
  height: 100%;

  .responses-list {
    width: 80%;
    height: 600px;
    overflow-y: auto;
  }

  h3 {
    font-size: $title-size;
    font-weight: bold;
  }

  .response {
    margin-bottom: 1rem;

    h4 {
      font-size: $default-size;
    }

    p {
      background: #efe5fc;
      border: 1px solid #6f00ff;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      text-align: left;
    }
  }
}

// RESPONSE FORM STYLES
.response-form {
  h4 {
    font-size: $default-size;
  }

  .survey-response {
    margin-bottom: 1rem;
  }

  button {
    margin-right: 2rem;
  }
}