@import "./Variables.scss";

// TOPICS LIST STYLES
.topics-list {
  position: fixed;
  left: 0;
  background: $main-color;
  height: 100vh;
  width: 80px;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0;

  .topic-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      color: $sub-color;
    }
  }

  .selected-topic {
    border: 4px solid black;
  }
}

// MAIN TOPIC STYLES
.topic-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;

  h3 {
    font-weight: bold;

    @media (max-width: 1080px) {
      display: none;
    }
  }

  .topic-buttons {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
    }

    button {
      margin: 0 2rem;

      @media (max-width: 1080px) {
        margin: 1rem 0;
      }
    }
  }   
}

.main-topic-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.topic-container {
  margin-top: 2rem;
  width: 30%;

  @media (max-width: 1080px) {
    width: 50%;
  }
}

.topic-title {
  font-size: $title-size;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.join-code {
  border: 2px dashed $main-color;
  padding: .5rem;
  text-align: center;

  &:hover {
    cursor: pointer;
    color: $main-color;
  }
}

// NEW TOPIC MODAL STYLES
.closed {
  display: none;
}

.new-topic-question {
  margin-top: 1rem;
}

.context-desc {
  opacity: 1;
}

.ant-form-item {
  padding: 0;
  margin-bottom: 0;
}

.remove-question-button {
  border: none;
  padding: 4px 2px;
  opacity: 80%;

  &:hover {
    opacity: 100%;
  }
}

.remove-question-button p {
  border: none;
  opacity: 80%;
}

.remove-question-button p:hover {
  text-decoration: underline;
  opacity: 100%;
}

.add-question-button {
  margin-top: 2rem;
}

.review{
  .review-topic {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
    
    div {
      margin: 1rem 4rem 1rem 0;
    }
  }

  .review-questions {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;

    div {
      margin-right: 2rem;
    }
  }

  h3 {
    font-size: $default-size;
    margin-top: 0;
    padding: 0;
  }

  h4 {
    margin-bottom: 0;
    padding: 0;
  }
}

// EDIT TOPIC STYLES
.topic-settings-button {
  border: none;
  background: none;
  margin-left: 2rem;

  svg {
    width: 90%;
  }

  &:hover {
    cursor: pointer;
  }
}