// VARIABLES
$main-color: #7000FF;
$sub-color: #4600a2;
$bg-color: #FFFFFF;
$title-size: 2rem;
$header-size: 1.5rem;
$default-size: 1rem;
$medium-weight: 500;
$gradient: linear-gradient(90deg, #7000FF 30%, #e100ff 100%);